*{font-family: 'Rambla', 'Lato', sans-serif;}

body {
    background-color: #aad0ff;
     margin-left: 8%;
     margin-top: 5%;
     margin-right: 10%;
}
.headers {
    font-family: 'Rambla', sans-serif;
}
#this1 {
    position: absolute;
    z-index: -1;
}
#navbar{
    font-size: 30px;
    background-color: #357dd6;
    margin-top: 420px;
    padding: 5px;
}
.about {
    margin-left: 80px;
}
#h2about{
    margin-bottom: 10px;
    background-color: rgba(170, 208, 255, .15);
}
.about > .text{
    background-color: #357dd6;
    padding: 25px;
    font-family: 'Lato', monospace;
}

